.wrapper-box{
    width: 100%;
    height: 1350px;
    position: relative;
    background: #f4f4f4;
}

/*右边内容*/
.main-content-box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 80px;
    position: relative;
}

/*底部主要内容*/
.main-bottom-box{
    box-sizing: border-box;
    padding: 18px;
}

/*适配老产品*/
#ezpagecontent{
    height: 1310px !important;
    background: #f4f4f4!important;
    padding: 0!important;
    margin: 0!important;
}
#content-wrapper{
    padding-left: 0;
    padding-top: 80px;
    padding-right: 0;
}