.wrapper-box{
    height: 1050px;
}
h2{
    font-size:20px !important;
    font-family:Helvetica;
    color:rgba(78,78,78,1);
    line-height:24px;
    font-weight: bold;
}
.banner-box{
    width: 1300px;
    height: 120px;
    position: relative;
    margin-top: 30px;
}
.banner-btn{
    width: 33px;
    height: 51px;
    cursor: pointer;
}
.prev-btn{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
}
.next-btn{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
}
.banner-btn img{
    width: 100%;
    height: 100%;
}
.banner-content-box{
    width: 1200px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 50%;
    margin-top: -60px;
}
.banner-content-box ul{
    overflow: hidden;
}
.banner-content-box ul li{
    width: 228px;
    height: 120px;
    margin: 0 6px;
    float: left;
    background: #ffffff;
    box-shadow:0px 2px 6px 0px rgba(35,19,19,0.11);
    border-radius:6px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 21px 0;
}
.banner-content-box ul li .left{
    width: 150px;
    height: 78px;
    float: left;
    box-sizing: border-box;
    padding: 20px 10px 20px 0;
}
.banner-content-box ul li .left h4{
    font-size:16px;
    font-family:Helvetica;
    color:#4E4E4E;
    line-height:19px;
    text-align: right;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.banner-content-box ul li .left p{
    font-size:14px;
    font-family:Helvetica;
    color: #231313;
    line-height:17px;
    text-align: right;
}
.banner-content-box ul li .right{
    width: 78px;
    height: 78px;
    float: left;
    box-sizing: border-box;
    padding: 9px;
    position: relative;
}
.banner-content-box ul li .right div{
    width: 60px;
    height: 60px;
}
.banner-content-box ul li .right div.val-box{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
    text-align: center;
    line-height: 60px;
    font-size:10px;
    font-family:Helvetica;
    color:#BFBFBF;
}
.banner-content-box ul li .right div.val-box strong{
    font-size:20px;
    font-family:Helvetica;
    color:#FF934F;
    font-weight: bold;
}
.table-box{
    margin-top: 20px;
}
.table-top-box{
    overflow: hidden;
}
.table-top-box h2{
    display: inline-block;
    margin-right: 20px;
    float: left;
}
.table-top-box .tab-box{
    width: 90px;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin-top: 20px;
}
.table-top-box .tab-box button{
    width:45px;
    height:24px;
    font-size:12px;
    font-family:Helvetica;
    border: 0;
    margin: 0;
    padding: 0;
    color: #A9A9A9;
    background:#FFFFFF;
    border-radius:0px 4px 4px 0px;
    float: left;
}

.table-top-box .tab-box button.willDo{
    float: left;
    border-radius:4px 0px 0px 4px;
}
.table-top-box .tab-box button.active{
    color: #FFFFFF;
    background:linear-gradient(63deg,#F04F37 0%,#FBA47F 100%);
}
.table-content-box{
    background: #FFFFFF;
    box-shadow:0px 2px 6px 0px #d3d3d3;
    border-radius:6px;
    box-sizing: border-box;
    padding: 20px 35px;
}
.table-select-box{
    width: 100%;
    height: 30px;
    position: relative;
}
.select-left-box{
    float: left;
    overflow: hidden;
    cursor: pointer;
}
.select-left-box span{
    float: left;
    font-size:12px;
    font-family:Helvetica;
    color:#4E4E4E;
}
.select-left-box img{
    float: left;
    width: 15px;
    margin-left: 3px;
}
.select-right-box{
    float: right;
    overflow: hidden;
    cursor: pointer;
}
.select-right-box img{
    float: right;
    width: 10px;
    margin-right: 3px;
    margin-top: 1px;
}
.select-right-box span{
    float: right;
    font-size:12px;
    font-family:Helvetica;
    color:#4E4E4E;
}
.table-list-box{

}
.table-list-box table{
    width: 100%;
}
.table-list-box thead tr th{
    height:40px;
    background:#f1f1f1;
    font-size:14px;
    font-family:Helvetica;
    color: #4E4E4E;
    line-height: 40px;
    font-weight: bold;
    position: relative;
}
.table-list-box thead tr th span{
    cursor: pointer;
    font-weight: bold;
}
.table-list-box thead tr th img{
    margin-left: 5px;
}
.table-list-box tbody tr td{
    height:50px;
    line-height: 50px;
    font-size:14px;
    font-family:Helvetica;
    color:#3E3E3E;
    border-bottom: 1px solid #ececec;
}
.table-list-box tbody tr.select-tr td{
    background-color: #f1f1f1;
}
.table-list-box tbody tr td button{
    width: 14px;
    height: 14px;
    border: 0;
    background-color: white;
    margin-left: 10px;
}
.table-list-box tbody tr.select-tr td button{
    background-color: #f1f1f1;
}
.table-list-box tbody tr td.time{
    font-size:13px;
    font-family:Helvetica;
    color:#898989;
}
.table-list-box tbody tr td button.laiyuan{
    width: 85px;
    height: 20px;
    border-radius:10px;
    font-size:11px;
    font-family:Helvetica;
    line-height: 18px;
}
.table-list-box tbody tr td button.yellow{
    color:#FF7137;
    background:rgba(255,113,55,0.2);
}
.table-list-box tbody tr td button.yellow-active{
    color: #ffffff;
    background: #FF7137;
}
.table-list-box tbody tr td button.blue{
    color: #47B1F1;
    background:rgba(71,177,241,0.2);
}
.table-list-box tbody tr td button.blue-active{
    color: #ffffff;
    background:#47B1F1;
}
.table-list-box tbody tr td button.green{
    color: #70C280;
    background:rgba(112,194,128,0.2);
}
.table-list-box tbody tr td button.green-active{
    color: #FFFFFF;
    background:#70C280;
}
/*分页*/
#page {
    margin: 20px auto;
    color: #666;
    display: block;
    text-align: right;
}

#page li {
    display: inline-block;
    min-width: 30px;
    height: 28px;
    cursor: pointer;
    color: #666;
    font-size: 13px;
    line-height: 28px;
    background-color: #EFEFEF;
    border: 0;
    text-align: center;
    margin: 0 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.xl-nextPage,
.xl-prevPage {
    width: 60px;
    color: #0073A9;
    height: 28px;
}

#page li.xl-disabled {
    opacity: .5;
    cursor: no-drop;
}

#page li.xl-disabled:hover{
    background-color: #f9f9f9 !important;
    border: 1px solid #dce0e0 !important;
    color: #666 !important;
}

#page li.xl-active {
    background-color: #FF934F;
    color: #FFF
}

#page li:hover{
    background-color: #FF934F !important;
    color: #FFF
}

#page li.xl-jumpText {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    opacity: 1;
    display: none;
}

#page li.xl-jumpText:hover{
    background-color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;
}

#page li.xl-jumpButton{
    padding: 0 5px;
}

#xlJumpNum {
    width: 35px;
    margin: 0 3px;
    display: none;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}
input[type="number"]{
    -moz-appearance:textfield;
}

