.dialog-box{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000)
}
.dialog-content-box{
    width:424px;
    background:#ffffff;
    border-radius:6px;
    position: absolute;
    left: 50%;
    margin-left: -208px;
    margin-top: 50px;
}
.dialog-header-box{
    width: 100%;
    height: 50px;
    background:#ffffff;
    border-radius:6px 6px 0px 0px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 30px;
}
.dialog-header-box h2{
    font-size:16px;
    font-family:Helvetica;
    color:rgba(62,62,62,1);
    float: left;
}
.dialog-header-box span{
    float: right;
    margin-top: 15px;
    cursor: pointer;
}
.dialog-header-box span img{
    width: 12px;
    height: 12px;
}

.dialog-body-box{
    box-sizing: border-box;
    padding: 0 20px 40px 20px;
    font-size:14px;
    font-family:Helvetica;
    color:rgba(101,101,101,1);
}
.dialog-main-content-box{
    width: 100%;
}
.list-content-box{
    width: 100%;
    height: 100px;
    overflow-y: auto;
}
.list-content-box ul{
    width: 100%;
    overflow: hidden;
}
.list-content-box ul li{
    width: 103px;
    height: 34px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.05);
    border-radius: 4px;
    float: left;
    margin: 10px 10px 10px 10px;
    text-align: center;
    line-height: 34px;
}
.list-content-box ul li span.text{
    font-size: 14px;
    font-family: Helvetica;
    color: rgba(101,101,101,1);
    width: 70px;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: left;
}
.list-content-box ul li span.icon{
    cursor: pointer;
    float: right;
    margin-right: 5px;
}
.list-content-box ul li span.add-icon{
    width: 15px;
    height: 15px;
    background: #ff934f;
    color: white;
    line-height: 15px;
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    margin-top: 9px;
    behavior: url(PIE.htc);
}
.list-content-box ul li span.icon img{
    width: 22px;
    height: 22px;
}
.list-content-box .name-box{
    margin-bottom: 17px;
    box-sizing: border-box;
    padding: 0 10px;
}
.list-content-box .link-box{
    box-sizing: border-box;
    padding: 0 10px;
}
.list-content-box .link-box button{
    width: 97px;
    height: 30px;
    background: linear-gradient(90deg,rgba(111,193,128,1) 0%,rgba(126,208,139,1) 100%);
    border-radius: 4px;
    border: 0;
    font-size: 12px;
    font-family: Helvetica;
    color: #ffffff;
    margin-left: 14px;
    outline: none;
}

.list-content-box input{
    width:240px;
    height:30px;
    background:#ffffff;
    border-radius:4px;
    border: 0;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 12px;
    outline: none;
}

ul.dialog-link-ul-box li{
    width: 165px;
}
ul.dialog-link-ul-box li span.text{
    width: 130px;
}
.list-title-box{
    box-sizing: border-box;
    padding: 10px;
}
.dialog-btn-list{
    width: 100%;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin-top: 40px;
}
.dialog-btn-list button{
    width: 170px;
    height: 40px;
    font-size:16px;
    font-family:Helvetica;
    border-radius:4px;
    border: 0;
}
.dialog-btn-list button.cancer{
    color:rgba(101,101,101,1);
    background:rgba(214,214,214,1);
    margin-right: 10px;
}
.dialog-btn-list button.query{
    color:#ffffff;
    background:linear-gradient(241deg,rgba(255,171,100,1) 0%,rgba(255,82,52,1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#d90603, endColorstr=#fd8a4a);/*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#d90603, endColorstr=#fd8a4a)";/*IE8+*/
}
