.wrapper-box{
    width: 100%;
    background: #f4f4f4;
    position: absolute;
    z-index: 3 !important;
    height: 80px !important;
}
/*底部主要内容*/
.main-bottom-box{
    box-sizing: border-box;
    padding: 18px;
}
/*各大系统入口*/
.nav-sys-box{
    width: 100%;
    height: 120px;
    background:#ffffff;
    overflow: hidden;
}
.nav-sys-box .nav-sys-content-box{
    width: 1200px;
    height: 100%;
    float: left;
    overflow: hidden;
}
.nav-sys-box .nav-sys-content-box .nav-sys-list-box{
    width: 2400px;
    height: 100%;
    overflow: hidden;
}
.nav-sys-box .nav-sys-content-box .nav-item-list{
    width: 1200px;
    height: 100%;
    float: left;
}
.nav-sys-box .more-sys-box{
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    margin-top: 35px;
    cursor: pointer;
}
.box-shadow-panel{
    background:#ffffff;
    box-shadow:0px 2px 6px 0px rgba(96,38,38,0.06);
    border-radius:6px;
    overflow: hidden;
}
.nav-sys-box .nav-item{
    width: 200px;
    height: 100%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}
.nav-sys-box .nav-item img{
    margin-bottom: 10px;
}
.nav-sys-box .nav-item span{
    display: block;
    font-size:16px;
    font-family:Helvetica;
    color:rgba(62,62,62,1);
    line-height:19px;
}


/*中间部分*/
.main-middle-box{
    width: 100%;
    margin-top: 18px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding-right: 448px;
}
.main-left-middle{
    width: 100%;
}
.comp-news-box{
    width: 100%;
    height: 260px;
    position: relative;
    box-sizing: border-box;
    padding-left: 460px;
}
.news-banner-box{
    width: 460px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.news-banner-box ul{
    width: 100%;
    height: 100%;
}
.news-banner-box ul li{
    width: 460px;
    height: 100%;
}
.news-banner-box ul li img{
    width: 100%;
    height: 100%;
}
.banner-title-box{
    width: 460px;
    height: 50px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color:#ffffff;
    text-align: center;
    line-height: 50px;
    font-size:17px;
    font-weight: bold;
}
.news-lists-box{
    width: 100%;
    height: 100%;
}
.jinou-title-box{
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 20px;

}
.jinou-title-box h2{
    font-size:18px;
    font-family:Helvetica;
    color:rgba(78,78,78,1);
    font-weight: bold;
    float: left;
}
.jinou-title-box a.more-btn{
    font-size:12px;
    font-family:Helvetica;
    color:rgba(255,93,79,1);
    float: right;
    font-weight: bold;
}
.jinou-article-list-box{
    width: 100%;
    height: 185px;
    box-sizing: border-box;
    padding: 10px 20px 0px 20px;
    overflow-y: auto;
}
.jinou-article-list-box p{
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    font-family: Helvetica;
    color: rgba(101,101,101,1);
    overflow: hidden;
}
.jinou-article-list-box p a{
    color: rgba(101,101,101,1);
}
.jinou-article-list-box p a.active{
    color: #d7191b;
}
.jinou-article-list-box p a.active span{
    color: #d7191b;
}
.jinou-article-list-box p span.title{
    float: left;
    font-size:14px;
    font-family:Helvetica;
    color:rgba(101,101,101,1);
}
.jinou-article-list-box p span.time{
    float: right;
    font-size:12px;
    font-family:Helvetica;
    color: rgb(175, 175, 175);
}

.comp-public-box{
    width: 100%;
    height: 300px;
    margin-top: 18px;
}
.comp-public-box .comp-public-max-title{
    border-bottom: 1px solid #F1F2F6;
    height: 55px;
    line-height: 55px;
}
.comp-public-box .comp-public-max-title h2{
    font-size:20px;
    font-family:Helvetica;
    color:rgba(101,101,101,1);
    margin-right: 63px;
    cursor: pointer;
}
.comp-public-box .comp-public-max-title h2.active{
    color:rgba(207,0,15,1);
}
.comp-public-box .comp-public-min-title{
    width: 100%;
    height: 40px;
}
.comp-public-box .comp-public-min-title h2{
    font-size: 16px;
    font-family: Helvetica;
    color: rgba(137,137,137,1);
    box-sizing: border-box;
    height: 40px;
    padding: 0;
    margin: 0;
    line-height: 40px;
    margin-right: 80px;
    cursor: pointer;
}
.comp-public-box .comp-public-min-title h2.active{
    border-bottom: 3px solid #da2420;
}
.comp-rule-box{
    width: 100%;
    height: 260px;
    overflow: hidden;
    margin-top: 18px;
}
.comp-rule-box .item-left{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 9px;
    float: left;
}
.comp-rule-box .item-right{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 9px;
    float: left;
}
.comp-rule-box .rule-box{
    width: 100%;
    height: 100%;
}
.comp-rule-box .news-paper-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.comp-rule-box .news-paper-box img{
    width: 100%;
    height: 100%;
}
.comp-rule-box .news-paper-box .news-paper-title-box{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height:40px;
    background:rgba(68,47,47,0.78);
    opacity:0.8676;
    font-size:18px;
    font-family:Helvetica;
    color:#ffffff;
    text-align: center;
    line-height: 40px;
}

.main-right-middle{
    position: absolute;
    top: 0;
    right: 0;
    width: 430px;
}
.person-intro-box{
    width: 100%;
    height: 260px;
}
.person-intro-header{
    width: 100%;
    height: 175px;
    background: url("../img/名片背景.png") no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding-top: 41px;
    padding-left: 34px;
}
.person-intro-header .left-img{
    width: 98px;
    height: 98px;
    border-radius: 98px;
    background: #ffffff;
    overflow: hidden;
    float: left;
}
.person-intro-header .left-img img{
    width: 100%;
    height: 100%;
}
.person-intro-header .right-info{
    float: left;
    margin-left: 20px;
    color: white;
    box-sizing: border-box;
    padding-top: 10px;
}
.person-intro-header .right-info .time{
    line-height: 10px;
    opacity: 0.7;
    font-weight: 600;
}
.person-intro-header .right-info .greet{
    font-weight: bold;
    font-size: 17px;
    line-height: 40px;
}
.person-intro-header .right-info .skills{
    width: 260px;
    height: 60px;
    overflow: hidden;
}
.person-intro-header .right-info .skills span{
    background: rgba(255,255,255, 0.2);
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 13px;
    opacity: 0.9;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.person-intro-body{
    width: 100%;
    height: 85px;
    line-height: 85px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.person-intro-body em{
    display: block;
    border-right: 2px dotted #8e8e8e;
    width: 2px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 24px;
}
.person-intro-body .today-num{
    width: 50%;
    height: 100%;
    float: left;
    font-size:16px;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(101,101,101,1);
    box-sizing: border-box;
}
.person-intro-body .today-num strong{
    font-size:34px;
    font-family:Helvetica;
    color:rgba(218,32,31,1);
}

.person-intro-body .all-num{
    width: 50%;
    height: 100%;
    float: left;
    font-size:18px;
    font-family:Helvetica;
    color:rgba(101,101,101,1);
}
.person-intro-body .all-num strong{
    font-size:34px;
    font-family:Helvetica;
    color:rgba(255,147,79,1);
}
.common-func-box{
    width: 100%;
    height: 220px;
    margin-top: 18px;
}
.common-func-title-box{
    padding-right: 0;
}
.common-func-title-box span{
    float: right;
    cursor: pointer;
}
.common-func-title-box span img {

}
.func-list-box{
    width: 100%;
    height: 150px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 10px;
}
.func-list-box span{
    display: inline-block;
    width:111px;
    height:34px;
    background:#ffffff;
    box-shadow:0px 2px 8px 0px rgba(106,32,31,0.16);
    border-radius:4px;
    margin: 10px;
    font-size:16px;
    font-family:Helvetica;
    color:rgba(101,101,101,1);
    text-align: center;
    line-height: 34px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.date-manage-box{
    width: 100%;
    height: 340px;
    margin-top: 18px;
    background-color: #F8F8F8;
}
.laydate-footer-btns span.laydate-btns-clear{
    display: none;
}


.select-year-box{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #F8F8F8;
    position: relative;
}
.select-year-box span{
    display: block;
    width: 150px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: 50%;
    margin-top: -15px;
    line-height: 30px!important;
}
.select-year-box img{
    position: absolute;
    left: 50%;
    margin-left: 65px !important;
    top: 50%;
    margin-top: -8px;
}



.date-banner-box{
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #F8F8F8;
    position: relative;
}
.date-banner-box .prev-btn-box{
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -5px;
    cursor: pointer;
}
.date-banner-box .prev-btn-box img{

}
.date-banner-box .next-btn-box{
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -5px;
    cursor: pointer;
}
.date-banner-box .next-btn-box img{

}
.date-banner-box .date-banner-content-box{
    width: 350px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -175px;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
}
.date-banner-box .date-banner-content-box ul{
    height: 110px;
    overflow: hidden;
}
.date-banner-box .date-banner-content-box ul li{
    width: 60px;
    height: 90px;
    border-radius: 60px;
    background-color: white;
    float: left;
    margin: 0 5px;
    text-align: center;
    box-shadow: 0px 2px 3px 0px rgba(106,32,31,0.1);
    box-sizing: border-box;
    padding: 16px 0;
    cursor: pointer;
}
.date-banner-box .date-banner-content-box ul li .week{
    font-size:12px;
    font-family:Helvetica;
    color: #656565;
}
.date-banner-box .date-banner-content-box ul li .day{
    font-size: 20px;
    font-family: Helvetica;
    color: #4E4E4E;
    font-weight: bold;
}
.date-banner-box .date-banner-content-box ul li .month{
    font-size:10px;
    font-family:Helvetica;
    color: #656565;
}
.date-list-content-box{
    width: 100%;
    height: 140px;
    background-color: #fff;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 15px 30px 5px 40px;
    position: relative;
    overflow-y: auto;
}
.date-list-content-box p{
    overflow: hidden;
}
.date-list-content-box p span{
    font-size:14px;
    font-family:Helvetica;
}
.date-list-content-box p span.left{
    color:#898989;
    float: left;
}
.date-list-content-box p span.right{
    color:#898989;
    float: right;
}
.date-list-content-box p.first{
    overflow: hidden;
    position: relative;
}
.date-list-content-box::before{
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: #D50000;
    left: 27px;
    top: 22px;
}
.date-list-content-box p.first span{
    font-size:14px;
    font-family:Helvetica;
}
.date-list-content-box p.first span.left{
    color:#D80100;
    float: left;
}
.date-list-content-box p.first span.right{
    color:#D80100;
    float: right;
}
.date-list-content-box p.second{
    overflow: hidden;
}
.date-list-content-box p.second span{
    font-size:14px;
    font-family:Helvetica;
}
.date-list-content-box p.second span.left{
    color:#FF934F;
    float: left;
}
.date-list-content-box p.second span.right{
    color:#FF934F;
    float: right;
}




.date-banner-box .date-banner-content-box ul li.active{
    background:linear-gradient(180deg,rgba(253,176,137,1) 0%,rgba(237,59,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#FDB089, endColorstr=#ED3B30);/*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#FDB089, endColorstr=#ED3B30)";/*IE8+*/
}
.date-banner-box .date-banner-content-box ul li.active .week{
    font-size:12px;
    font-family:Helvetica;
    color: #fff;
}
.date-banner-box .date-banner-content-box ul li.active .day{
    font-size: 20px;
    font-family: Helvetica;
    color: #fff;
    font-weight: bold;
}
.date-banner-box .date-banner-content-box ul li.active .month{
    font-size:10px;
    font-family:Helvetica;
    color: #fff;
}
.select-year-box span{
    font-size:22px;
    font-family:Helvetica;
    color: #4e4e4e;
    font-weight: bold;
    line-height: 70px;
    cursor: pointer;
}
.select-year-box img{
    width: 19px;
    margin-left: 5px;
    cursor: pointer;
}

.main-bottom-box{
    width: 100%;
    height: 187px;
}
.common-link-box{
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 10px;
}
.common-link-box span{
    display: inline-block;
    width:190px;
    height:34px;
    background:#ffffff;
    box-shadow:0px 2px 8px 0px rgba(106,32,31,0.16);
    border-radius:4px;
    margin: 10px;
    font-size:16px;
    font-family:Helvetica;
    color:#656565;
    text-align: center;
    line-height: 34px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.common-link-box span a{
    font-size:16px;
    font-family:Helvetica;
    color:#656565;
}

/*年月选择*/
.layui-laydate{
    top: 230px !important;
}

