<div class="main-top-left">
    <!--logo-->
    <div class="logo-box">
        <img src="./static/img/金隅集团logo白色.png" alt="logo" />
    </div>
    <img class="comp-name" src="./static/img/金隅集团一体化管控综合信息平台.png" alt="金隅集团一体化管控综合信息平台" />
</div>
<div class="main-top-right">
    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img style="float:left;margin-top: 26px" src="./static/img/icon-邮件灰色.png" alt="邮件" />
                <i class="num">2</i>
            </a>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img style="float: left;margin-top: 20px" src="./static/img/icon-消息.png" alt="消息" />
                <i class="num">2</i>
            </a>
        </li>
        <li role="presentation" class="dropdown">
            <a id="dropdown-btn" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img class="person-icon" src="./static/img/person-icon.png" alt="人力资源" />
                <span class="person-name">王大明</span>
                <span class="caret"></span>
            </a>
        </li>
    </ul>
</div>
<ul class="dropdown-menu top-dropdown-menu-box" style="right: 50px !important;left: auto;top: 68px !important;position: absolute;">
    <li data-index="1">
        <img class="select-img" src="./static/img/icon-个人信息.png" alt="个人信息" />
        <img class="no-select" src="./static/img/icon-个人信息灰色.png" alt="个人信息" />
        <span>个人信息</span>
    </li>
    <li data-index="2">
        <img class="select-img" src="./static/img/icon-进入后台.png" alt="个人信息" />
        <img class="no-select" src="./static/img/icon-进入后台灰色.png" alt="个人信息" />
        <span>进入后台</span>
    </li>
    <li data-index="3">
        <img class="select-img" src="./static/img/icon-报纸.png" alt="个人信息" />
        <img class="no-select" src="./static/img/icon-报纸灰色.png" alt="个人信息" />
        <span>金隅报纸</span>
    </li>
    <li data-index="4">
        <img class="select-img" src="./static/img/icon-退出登录.png" alt="退出登录" />
        <img class="no-select" src="./static/img/icon-退出登录灰色.png" alt="退出登录" />
        <span>退出登录</span>
    </li>
</ul>
<script>
    $(function () {
        /**
         * 打开或关闭下拉选项
         */
        $('#dropdown-btn').on('click', function () {
            if ($('ul.dropdown-menu').css('display') === 'none') {
                $('ul.dropdown-menu').css('display', 'block')
            } else {
                $('ul.dropdown-menu').css('display', 'none')
            }
        })
        /**
         * 选择下拉选项
         */
        $('ul.dropdown-menu').on('click', 'li', function () {
            $('ul.dropdown-menu').css('display', 'none')
        })
        /**
         * 悬浮
         */
        $('ul.dropdown-menu li').mouseover(function () {
            if ($(this).index() === 0) {
                $('.top-dropdown-menu-box').addClass('dropdown-after-red')
            } else {
                $('.top-dropdown-menu-box').removeClass('dropdown-after-red')
            }
        })
        $('ul.dropdown-menu').mouseout(function () {
            $('.top-dropdown-menu-box').removeClass('dropdown-after-red')
        })



    })

</script>
