<div class="main-top-left">
    <img src="./static/img/金隅集团一体化管控综合信息平台.png" alt="金隅集团一体化管控综合信息平台">
</div>
<div class="main-top-right">
    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img src="./static/img/icon-邮件灰色.png" alt="邮件">
                <i class="num">2</i>
            </a>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img src="./static/img/icon-消息.png" alt="消息">
                <i class="num">2</i>
            </a>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img class="person-icon" src="./static/img/person-icon.png" alt="人力资源">
                <span class="person-name">王大明</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu top-dropdown-menu-box dropdown-after-red">
                <li class="active" data-index="1">
                    <img class="person-icon" src="./static/img/icon-个人信息.png" alt="个人信息">
                    <span>个人信息</span>
                </li>
                <li data-index="2">
                    <img class="person-icon" src="./static/img/icon-退出登录.png" alt="退出登录">
                    <span>退出登录</span>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>

</script>